/*  Start App.css   */

.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

/*  End App.css   */



body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Ajusta esto si necesitas */
  gap: 10px; /* Si quieres que los videos estén uno debajo del otro */
}

.video-container video {
  margin: 10px; /* Ajusta el margen según sea necesario */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  height: 100vh;
  width: 100wh;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
